* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'MouldyCheese';
    src: url(MouldyCheese.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "CaviarDreams";
    src: url(CaviarDreams.ttf) format('truetype');
    font-weight: normal;
}

:root {
    --laranja: #f9a620;
    --plaranja: #fce5b1;
    --azul: #2073a6;
    --vermelho: #f9414488;

    --fonte-titulo: 'MouldyCheese';
    --fonte-padrão: 'CaviarDreams';
}

body {
    background-color: var(--azul);
    font-family: var(--fonte-padrão);
}

header {
    background-color: var(--laranja);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img#logo {
    height: 100px;
}

img#botao-menu {
    height: 70px;
    cursor: pointer;
}

#doa {
    width: 25%;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}

header > h1 {
    font-family: var(--fonte-titulo), sans-serif;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    font-size: 30px;
    color: var(--preto);
}

main {
    background-color: var(--plaranja);
    max-width: 1270px;
    min-height: 400px;
    text-align: center;
    margin: 0px auto 30px;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

main > h1, h2, h3, h4 {
    text-align: left;
    text-indent: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 40%, transparent 60%);
}

main > p {
    margin-bottom: 30px;
    text-align: left;
    text-indent: 40px;
}

main img {
    width: 100%;
}

p#left{
    text-align: left;
    text-indent: 40px;
}

p#num {
    text-align: center;
    text-indent: 0px;
}

p#pq {
    text-align: center;
    text-indent: 0px;
}

p#patro {
    margin-bottom: 40px;
}

span {
    font-weight: bolder;
    color: var(--azul);
}

li {
    text-indent: 25px;
}

ol, ul {
    margin: 15px;
    margin-bottom: 40px;
}

.formu {
    display: none;
}

.check {
    margin-bottom: 40px;
}

#envia1, #envia2, #envia3 {
    background-color: var(--vermelho);
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 0px;
}

.patrocinadores {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.patrocinador-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.patrocinador {
    flex: 1 1 200px;
    text-align: center;
}

.patrocinador img {
    max-width: 30%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}

form, div.formu.act{
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea, select {
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--vermelho);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background-color: var(--azul);
}

nav#menu-lateral {
    position: fixed;
    top: 0;
    left: -265px;
    width: 250px;
    height: 100%;
    background-color: var(--plaranja);
    transition: left 0.3s ease;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

nav#menu-lateral ul {
    list-style: none;
    padding: 20px;
}

nav#menu-lateral ul li {
    margin: 20px 0;
}

nav#menu-lateral ul li a {
    text-decoration: none;
    color: var(--azul);
    font-size: 18px;
    display: block;
}

nav#menu-lateral.open {
    left: 0;
}

body.menu-open::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

nav#menu-lateral ul li a.active {
    background-color: var(--azul); /* Um azul mais escuro */
    color: var(--plaranja); /* Texto em cor clara para contraste */
    padding: 10px;
    border-radius: 5px;
}

.anuncio {
    background-color: rgb(199, 199, 199);
}

.anuncio#um {
    width: 150px;
    height: 400px;
    float: right;
    margin: 0px 0px 10px 10px;
}

.anuncio#dois {
    max-height: 100px;
    max-width: 500px;
    min-width: 300px;
    min-height: 60px;
    text-align: center;
    margin: 10px auto 100px;
}

.opcao{
    margin: 10px 0;
    display: inline-block;
    margin-bottom: 40px;
}

footer {
    background-color: var(--laranja);
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a.rodape:link {
    text-decoration: none;
    color: var(--plaranja);
}

a.rodape:hover {
    color: var(--azul);
    text-decoration: underline;
}

.radio > .radio-item {
    display: inline-block;
}

.horario > .horario-item {
    display: inline-block;
}